@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  汎用パーツ
// ---------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

// レスポンシブ table　表
table {
  width: 100%;

  @include max-mq {
    &.table {
      display: block;

      tbody,
      tr,
      th,
      td {
        box-sizing: border-box;
        display: block;
        width: 100% !important;
      }
    }
  }
}

// SPの時に邪魔されたときの対処コード
// table tbody {
//   display: table-row-group !important;
//   width: auto !important;
// }

// table tr {
//   display: table-row !important;
//   width: auto !important;
// }

// table th, table td {
//   display: table-cell !important;
//   width: auto !important;
// }


.bold {
  // font-weight: boldのとき、文字がにじんで見える場合はこのclassで太字にする（YuGothic Midiumを使わないようにする）
  font-family:
    "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "YuGothic",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  font-weight: bold;
}

// ---------------------------------------------
// 下層ページ汎用
// ---------------------------------------------

.eyecatch {
  margin-bottom: 30px;

  p {
    position: relative;
    width: fit-content;
    padding: 0 10px 10px;
    margin: auto;
    text-align: center;

    &::before {
      position: absolute;
      bottom: -3px;
      left: calc(50% - 30px);
      width: 60px;
      height: 3px;
      content: "";
      background: #004494;
    }
  }
}

.toppage_link {
  display: block;
  width: fit-content;
  padding: 10px 15px;
  margin: auto;
  color: #fff;
  text-decoration: underline;
  background: #004494;
  border-radius: 1000px;
}

// ページネーション／ページャ
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  & > span,
  a {
    display: inline-block !important;
    width: 2em;
    padding: 6px 0;
    line-height: 1;
    text-align: center;

    &.current {
      font-weight: bold;
    }
  }

  &:empty {
    display: none;
  }
}
