@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------



.top_info {
  margin-block: 0 60px;

  // .top_info--wrap
  &--wrap {
    box-sizing: border-box;
    width: min(1450px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;
  }

  // .top_info--list
  &--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin-block: 0 40px;

    time {
      display: block;
      font-size: var(--fz12);
      color: #7e7e7e;
    }

    p {
      font-size: var(--fz18);
      font-weight: 700;
      line-height: 1;
    }

    a {
      cursor: pointer;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .top_info--img
  &--img {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      background: #def4ff;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
      transition:
        transform 0.8s
        cubic-bezier(0.19, 1, 0.22, 1);
      object-fit: cover;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
